{% extends "layout.html" %}

{% block body %}
    <div>
        <canvas id="temp_chart"></canvas>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const labels = [];
        const data = {
            labels: labels,
            datasets: [{
                label: 'Room temperature [C]',
                backgroundColor: 'rgb(0,41,255)',
                borderColor: 'rgb(0,41,255)',
                roomTemp: [0]
            },
            {
                label: 'Heater temperature [C]',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255,99,132)',
                heaterTemp: [0]
            }
            ],
            options: {
                responsive: true,
                scales: {
                    y: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            stepValue: 5,
                            max: 100
                        }
                    }],
                    x: [{
                        type: 'time',
                        ticks: {
                            autoSkip: true,
                            maxTicksLimit: 5 // TODO: have a look at this?
                        }
                    }]
                }
            }
        };

        const config = {
            type: 'line',
            data: data,
            options: {}
        };


        runner(new Chart(
            document.getElementById('temp_chart'),
            config
        ));

        function runner(chart) {
            $.getJSON("/data/more?count=45").done(function (current_temps) {
                chart = chart.config._config;
                let x = current_temps.filter((element, index) => {
                  return index % 3 === 0;
                })
                x.shift();
                x.slice().reverse().forEach(current_temp => {
                    if(x[x.length-1] === current_temp) return;
                    console.log(current_temp)
                    let obj = current_temp;
                    chart.data.labels.push(obj.time);
                    chart.data.datasets[0].data.push(obj.roomtemp);
                    chart.data.datasets[1].data.push(obj.heatertemp);
                })
            });
            updateValues(chart)
        }

        function updateValues(chart) {
            $.getJSON("/data").done(function (current_temp) {
                chart = chart.config._config;
                let obj = current_temp;
                chart.data.labels.push(obj.time);
                chart.data.labels.shift();
                chart.data.datasets[0].data.push(obj.roomtemp);
                chart.data.datasets[0].data.shift();
                chart.data.datasets[1].data.push(obj.heatertemp);
                chart.data.datasets[1].data.shift();
            });
            chart.update();
            setTimeout(updateValues, 3000, chart);
        }
    </script>



    foo {{ bar }}

{% endblock %}