$white: hsl(0, 0%, 100%);
$blue: hsl(216, 69%, 54%);

$gray600: hsl(0, 0%, 98%);
$gray500: hsl(0, 0%, 96%);
$gray400: hsl(0, 0%, 93%);
$gray300: hsl(0, 0%, 90%);
$gray200: hsl(0, 0%, 80%);
$gray150: hsl(0, 0%, 55%);
$gray100: hsl(0, 0%, 15%);

$black: hsl(0, 0%, 0%);
$blackA: hsla(0, 0%, 0%, 0.25);